<section>
  <% if user_signed_in? %>
    <div class="container text-center">
      <%= link_to "Configuração de preços", shipping_company_prices_path(@shipping_company) %> |
      <%= link_to "Veículos", shipping_company_vehicles_path(@shipping_company) %> |
      <%= link_to "Cadastrar prazo de entrega", shipping_company_time_deliveries_path(@shipping_company) %> |
    <div>
    <div>
      <%= link_to "Voltar", root_path %>
    </div>
  <% end %>

</section>

<section>
    <div>
      <h3>Transportadora <%= @shipping_company.brand_name %></h3>
      <dl>
        <dt> Status:</dt>
        <dd><%= @shipping_company.class.human_attribute_name(@shipping_company.status) %></dd>
        <dt> Razão Social:</dt>
        <dd><%= @shipping_company.corporate_name %></dd>
        <dt> CNPJ:</dt>
        <dd><%= @shipping_company.registration_number %></dd>
        <dt> Endereço:</dt>
        <dd><%= @shipping_company.address %></dd>
        <dt> Localidade:</dt>
        <dd><%= @shipping_company.city %> - <%= @shipping_company.state %></dd>
      </dl>
    </div>
    <div>
      <%= link_to "Voltar", shipping_companies_path if admin_signed_in? %>
    </div>
</section>




