<section>
    <div>
      <h3>Transportadora <%= @shipping_company.brand_name %></h3>
      <dl>
        <dt> Razão Social:</dt>
        <dd><%= @shipping_company.corporate_name %></dd>
        <dt> CNPJ:</dt>
        <dd><%= @shipping_company.registration_number %></dd>
        <dt> Endereço:</dt>
        <dd><%= @shipping_company.address %></dd>
        <dt> Localidade:</dt>
        <dd><%= @shipping_company.city %> - <%= @shipping_company.state %></dd>
      </dl>
    </div>
</section>

<section>
  <h4>VEÍCULOS REGISTRADOS</h4>
  <%= link_to "Cadastrar veículo", new_shipping_company_vehicle_path(@shipping_company) %>
  <% if @vehicles %>
    <% @vehicles.each do |vehicle| %>
      <p><%= vehicle.brand %> <%= vehicle.model %></p>
      <dl>
        <dt>Ano de fabricação:</dt>
        <dd><%= vehicle.manufact_year %></dd>
        <dt>Carga máxima:</dt>
        <dd><%= vehicle.capacity %>g</dd>
        <dt>Placa:</dt>
        <dd><%= vehicle.license_plate %></dd>
      </dl>
    <% end %>
  <% else %>
    <p>Não existem veículos registrados</p>
  <% end %>
<div>
  <%= link_to "Voltar", shipping_companies_path %>
</div>
</section>

<section>
  <h4>TABELA DE PREÇOS</h4>
  <%= link_to "Cadastrar preço", new_shipping_company_price_path(@shipping_company) %>
  
    <% if @prices %>
    <% @prices.each do |price| %>
    <p>Entre <%= price.minimum_cubic_meter %> a <%= price.maximum_cubic_meter %> m³ e 
    peso entre <%= price.minimum_weight %> e <%= price.maximum_weight %>
    kgs o valor é de <%= price.price_km %> reais por km.</p>
   <% end %>
  
  <div>
    <%= link_to "Voltar", shipping_companies_path %>
  </div>
</section>
<% end %>

