<h1>Preços</h1>
<ul>
  <% if @price.errors.any? %>
    <% @price.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>

<%= form_with model: [@shipping_company, @price] do |p| %>
    <p><strong><%= p.label :minimum_weight, "Peso mínimo:" %></strong>
               <%= p.text_field :minimum_weight %>

    <p><strong><%= p.label :maximum_weight, "Peso maximo:" %></strong>
                <%= p.text_field :maximum_weight %>

    <p><strong><%= p.label :maximum_cubic_meter, "Máximo m³:" %></strong>
                <%= p.text_field :maximum_cubic_meter %>

    <p><strong><%= p.label :minimum_cubic_meter, "Minímo m³:" %></strong>
                <%= p.text_field :minimum_cubic_meter %>

    <p><strong><%= p.label :price_km, "Valor por Km:" %></strong>
               <%= p.text_field :price_km %>
    <div>
      <%= p.submit "Cadastrar" %>
    </div>
    <div>
    <%= link_to "Voltar", shipping_company_prices_path(@shipping_company) %>
    </div>
<% end %>