<h1>Detalhes do Veículo</h1>
<h1><%= @vehicle.brand %> <%= @vehicle.code_model %></h1>
    <div>
    <dl>
       <dt>Placa:</dt>
       <dd><%= @vehicle.license_plate %></dd>
        <dt>Marca:</dt>
        <dd><%= @vehicle.brand %></dd>  
        <dt>Ano de fabricação: </dt>
        <dd><%= @vehicle.manufact_year %></dd>
        <dt>Capacidade:</dt> 
        <dd><%= @vehicle.capacity %>g </dd>
      </dl>
    </div>
  <div>
    <%= link_to "Voltar", shipping_company_vehicles_path(@shipping_company) %>
</div>

