<div>
    <% if @shipping_company.errors.any? %>
      <% @shipping_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <% end %>
</div>
<h1><%= @vehicle.brand %> <%= @vehicle.code_model %></h1>
    <div>
    <dl>
       <dt><strong>Placa:<strong></dt>
       <dd> <%= @vehicle.license_plate %></dd>
        <dt><strong>Marca:<strong></dt>
        <dd> <%= @vehicle.brand %></dd>  
        <dt><strong>Ano de fabricação: </strong>
        <dd><%= @vehicle.manufact_year %></dd>
        <strong>Capacidade: </strong>
        <dd><%= @vehicle.capacity %>g </dd>
      </dl>
    </div>
  <div>
    <%= link_to "Voltar", shipping_companies_path %>
</div>
