<h1>Prazos de entrega<h1>
<section>
<% if @time_deliveries.any? %>
    <% @time_deliveries.each do |time| %>
    <p>Para entrega de <%= time.min_distance %> a <%= time.max_distance %>
    km, o prazo é <%= time.time %> dias.<p>
  <% end %>
<% else %>
    <p>Não existe lista de prazos de entrega cadastrados.</p>
<% end %>
<%= link_to "Adicionar Prazo", new_shipping_company_time_delivery_path if user_signed_in? %>
<div>
    <%= link_to "Voltar", root_path %>
</div>
</section>