<h1>Prazos</h1>

<ul>
  <% if @time_delivery.errors.any? %>
    <% @time_delivery.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>

<%= form_with model: [@shipping_company, @time_delivery] do |p| %>
  <div>
       <%= p.label :min_distance, "Distancia mínima: " %>
       <%= p.number_field :min_distance %>
     </div>
     <div>
        <%= p.label :max_distance, "Distancia maxíma" %>
        <%= p.number_field :max_distance %>
      </div>
      <div>
        <%= p.label :time, "Prazo de entrega" %></strong></>
        <%= p.number_field :time %>
      </div>
      <div>
          <%= p.submit "Cadastrar" %>
      </div>
      <div>
        <%= link_to "Voltar", shipping_company_time_deliveries_path(@shipping_company) %>
      </div>
<% end %>