<% if @product.errors.any? %>
    <ul>
        <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
<section class="container">
<%= form_with model: [:shipping_company, @product] do |product| %>
    <table class="table-center"> 
        <tr>
            <th><%= product.label :sku %></th>
            <th><%= product.text_field :sku %><th>
        </tr>
        <tr> 
            <th><%= product.label :customer_name %></th> 
            <th><%= product.text_field :customer_name %></th> 
        </tr>
        <tr> 
            <th><%= product.label :distance %></th>
            <th><%= product.number_field :distance %></th>
        </tr>
        <tr> 
        <th> <%= product.label :weight %></th>
            <th><%= product.number_field :weight %></th>
        </tr>
        <tr> 
            <th><%= product.label :height %></th>
            <th><%= product.number_field :height %></th>
        </tr>
        <tr> 
            <th><%= product.label :width %></th>
            <th><%= product.number_field :width %></th>
        </tr>
        <tr> 
            <th><%= product.label :depth %></th>
            <th><%= product.number_field :depth %></th>
        </tr>
        <tr> 
            <th><%= product.label :customer_address %></th>
            <th><%= product.text_field :customer_address %></th>
        </tr>
    <table> 
     <div>
        <%= product.submit "Salvar" %>
    </div>
<% end %>
</section>